.tituloSecundario{
    margin-left: 5rem ;
    text-decoration: underline;
    color: red;
    text-transform: uppercase;
}
.ContenidoPrincipal{
    margin-top:2.5rem;
}

.imgLogo-rojo
{
    background-color: red;
}


.imgLogo-verde
{
    background-color: rgb(18, 214, 71);
}


.imgLogo-naranja
{
    background-color: orange
}


.imgLogo-rosa
{
    background-color: pink
}